{
    "extends": [
      "eslint-config-globex",
      "eslint-config-globex/rules/flowtype",
      "eslint-config-globex/rules/jest",
    ],
    "rules": {
        "no-console": "off",
        "promise/no-native": "off"
    }
}
