{
    "extends": "eslint-config-globex",
    "rules": {
        "no-console": "off",
        "promise/no-native": "off"
    },
    settings: {
        react: {
            version: '16.0.0',
        },
    },
}
